/* 
* HERO HOME
*/

main {
    height: max-content;
}

#hero-home {
    position: relative;
    display: flex;
    justify-content: center;
    height: calc(100vh - 100px);
    min-height: 780px;
    max-height: 880px;
    width: 100%;
    overflow: hidden;
    background-color: var(--projectOne);
    transition: background-color 0.4s ease-in-out;
}

#hero-home .container {
    width: calc(100% - 2.6rem);
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 0;
}

#hero-home .container img {
    position: relative;
    z-index: 4;
    max-width: 990px;
    width: 100%;
    height: 0; 
    object-fit: cover;
    top: 40px;
    animation: heightFromBottom 1s forwards;
}

#hero-home .container img:hover {
    cursor: pointer;
}

@keyframes heightFromBottom {
    from {
        height: 0;
        transform: translateY(100%);
    }
    to {
        height: 100%;
        transform: translateY(0);
    }
}

#hero-home .container .project-information {
    display: none;
    flex-direction: column;
    gap: 15px;
}

#hero-home .container .project-information button {
    padding: 15px;
    width: 180px;
    height: 60px;
    border: none;
    font-size: var(--text-small);
    font-family: var(--heading);
    margin-top: 15px;
}

#hero-home .container .project-information button:hover {
    cursor: pointer;
}

#hero-home .container .extra {
    position: absolute;
    left: calc(50% - 2.5rem);
    transform: translateX(-50%);
    z-index: 4;
    width: calc(100% - 5.2rem);
    height: 100%;
    margin: 0 2.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero-home .container .extra .copyright {
    position: relative;
    left: -51px;
    font-size: var(--text-tiny);
    font-family: var(--heading);
    transform: rotate(270deg) translateY(-400%);
    animation: fadeFromLeft 1s forwards;
    animation-delay: 0.4s;
}

@keyframes fadeFromLeft {
    0% {
        transform: rotate(270deg) translateY(-400%);
    }
    100% {
        transform: rotate(270deg) translateY(0);
    }
}

#hero-home .container .extra .slider_count {
    font-size: var(--text-tiny);
    font-family: var(--heading);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transform: translateX(700%);
    animation: fadeFromRight 1s forwards;
    animation-delay: 0.4s;
}

@keyframes fadeFromRight {
    0% {
        transform: translateX(700%);
    }
    100% {
        transform: translateX(0);
    }
}


#hero-home .container .extra .slider_count .line {
    position: relative;
    height: 70px;
    width: 2px;
    transition: background-color 0.4s ease-in-out;
}

#hero-home .container .title {
    height: 100%;
    position: absolute;
    bottom: -400px;
    z-index: 7;
    font-family: var(--respira);
    font-size: 420px;
    animation: fadeFromBottom 1s forwards;
    animation-delay: 0.6s;
    transform: translateY(100%);
    pointer-events: none;
}

/* slider */
.slide {
    z-index: 5;
    min-width: 100%;
    box-sizing: border-box;
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.slide.is-active {
    display: flex;
    justify-content: center;
}

@keyframes fadeFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

/* Project 1 */
body.project-1 #hero-home {
    background-color: var(--projectOne);
}
body.project-1 #hero-home .container .project-information button {
    color: var(--projectOne);
    background-color: var(--projectOne_accent);
}
body.project-1 #hero-home .container .extra .copyright {
    color: var(--projectOne_accent);
}
body.project-1 #hero-home .container .extra .slider_count .line {
    background-color: var(--projectOne_accent);
}
body.project-1 #hero-home .container .extra .slider_count {
    color: var(--projectOne_accent);
}
body.project-1 #hero-home .container .title {
    color: var(--projectOne_accent);
}
body.project-1 #hero-home .container .project-information h1 {
    color: var(--projectOne_accent);
}
body.project-1 #hero-home .container .project-information p {
    color: var(--projectOne_accent);
}

/* Project 2 */
body.project-2 #hero-home {
    background-color: var(--projectTwo);
}
body.project-2 #hero-home .container .project-information button {
    color: var(--projectTwo);
    background-color: var(--projectTwo_accent);
}
body.project-2 #hero-home .container .extra .copyright {
    color: var(--projectTwo_accent);
}
body.project-2 #hero-home .container .extra .slider_count .line {
    background-color: var(--projectTwo_accent);
}
body.project-2 #hero-home .container .extra .slider_count {
    color: var(--projectTwo_accent);
}
body.project-2 #hero-home .container .title {
    color: var(--projectTwo_accent);
}
body.project-2 #cursor.arrow .cursor__circle {
    border-color: var(--projectTwo_accent);
}
body.project-2 #hero-home .container .project-information h1 {
    color: var(--projectTwo_accent);
}
body.project-2 #hero-home .container .project-information p {
    color: var(--projectTwo_accent);
}

/* Project 3 */
body.project-3 #hero-home {
    background-color: var(--projectThree);
}
body.project-3 #hero-home .container .project-information button {
    color: var(--projectThree);
    background-color: var(--projectThree_accent);
}
body.project-3 #hero-home .container .extra .copyright {
    color: var(--projectThree_accent);
}
body.project-3 #hero-home .container .extra .slider_count .line {
    background-color: var(--projectThree_accent);
}
body.project-3 #hero-home .container .extra .slider_count {
    color: var(--projectThree_accent);
}
body.project-3 #hero-home .container .title {
    color: var(--projectThree_accent);
}
body.project-3 #cursor.arrow .cursor__circle {
    border-color: var(--projectThree_accent);
}
body.project-3 #hero-home .container .project-information h1 {
    color: var(--projectThree_accent);
}
body.project-3 #hero-home .container .project-information p {
    color: var(--projectThree_accent);
}

/* MEDIA QUERIES */

@media (max-width: 1100px) {
    #hero-home .container img {
        top: 0;
    }
    #hero-home .container .title {
        bottom: -280px;
        font-size: 380px;
    }
}

@media (max-width: 920px) {
    #hero-home {
        height: max-content;
        align-items: top;
        top: -99px;
        margin-bottom: -100px;
        min-height: max-content;
        max-height: 100%;
    }
    #hero-home .container {
        flex-direction: column;
        justify-content: start;
        gap: 50px;
        height: max-content;
        padding-bottom: 60px;
    }
    #hero-home .container .project-information {
        display: flex;
    }
    #hero-home .container img {
        position: relative;
        left: -2.6rem;
        min-width: calc(100% + 10.4rem);
        max-width: 100%;
        padding-top: 0px;
        height: 280px;
        right: 0;
        animation: none;
    }
    #hero-home .container .extra {
        display: none;
    }
    #hero-home .container .title {
        display: none;
    }
}