/* 
* HERO HOME
*/

main {
    height: max-content;
}

#hero-home {
    position: relative;
    display: flex;
    justify-content: center;
    height: calc(100vh - 100px);
    min-height: 780px;
    max-height: 880px;
    width: 100%;
    overflow: hidden;
    background-color: var(--green);
}

#hero-home .container {
    width: calc(100% - 2.6rem);
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 0;
}

#hero-home .container img {
    position: relative;
    z-index: 4;
    max-width: 990px;
    width: 100%;
    height: 0; 
    object-fit: cover;
    top: 40px;
    animation: heightFromBottom 1s forwards;
}


#hero-home .container img:hover {
    cursor: pointer;
}


@keyframes heightFromBottom {
    0% {
        height: 0; 
    }
    100% {
        height: 100%; 
    }
}

#hero-home .container .project-information {
    display: none;
    flex-direction: column;
    gap: 15px;
}

#hero-home .container .project-information h1 {
    color: var(--light);
}

#hero-home .container .project-information p {
    color: var(--light);
}

#hero-home .container .project-information button {
    padding: 15px;
    width: 180px;
    border: none;
    font-size: var(--text-small);
    font-family: var(--heading);
    color: var(--green);
    background-color: var(--light);
    margin-top: 15px;
}

#hero-home .container .extra {
    position: absolute;
    left: calc(50% - 2.5rem);
    transform: translateX(-50%);
    z-index: 4;
    width: calc(100% - 5.2rem);
    height: 100%;
    margin: 0 2.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero-home .container .extra .copyright {
    position: relative;
    left: -51px;
    font-size: var(--text-tiny);
    font-family: var(--heading);
    color: var(--light);
    transform: rotate(270deg) translateY(-400%);
    animation: fadeFromLeft 1s forwards;
    animation-delay: 0.4s;
}

@keyframes fadeFromLeft {
    0% {
        transform: rotate(270deg) translateY(-400%);
    }
    100% {
        transform: rotate(270deg) translateY(0);
    }
}

#hero-home .container .extra .slider_count {
    font-size: var(--text-tiny);
    font-family: var(--heading);
    color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transform: translateX(700%);
    animation: fadeFromRight 1s forwards;
    animation-delay: 0.4s;
}

@keyframes fadeFromRight {
    0% {
        transform: translateX(700%);
    }
    100% {
        transform: translateX(0);
    }
}


#hero-home .container .extra .slider_count .line {
    height: 70px;
    width: 1px;
    background-color: var(--light);
}

#hero-home .container .title {
    height: 100%;
    position: absolute;
    bottom: -400px;
    z-index: 7;
    font-family: var(--respira);
    font-size: 420px;
    color: var(--light);
    animation: fadeFromBottom 1s forwards;
    animation-delay: 0.6s;
    transform: translateY(100%);
    pointer-events: none;
}

@keyframes fadeFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width: 1100px) {
    #hero-home .container img {
        max-width: 690px;
    }
}

@media (max-width: 920px) {
    #hero-home {
        height: 100%;
        align-items: top;
        top: -100px;
        min-height: max-content;
    }
    #hero-home .container {
        flex-direction: column-reverse;
        justify-content: start;
        gap: 50px;
        height: max-content;
        padding-bottom: 60px;
    }
    #hero-home .container .project-information {
        display: flex;
    }
    #hero-home .container img {
        position: absolute;
        max-width: 100%;
        min-height: 440px;
        max-height: 440px;
        top: 0;
        right: 0;
    }
    #hero-home .container .project-information {
        margin-top: 485px;
    }
    #hero-home .container .extra {
        display: none;
    }
    #hero-home .container .title {
        display: none;
    }
}

@media (max-width: 650px) {
    #hero-home .container img {
        min-height: 340px;
        max-height: 340px;
    }
    #hero-home .container .project-information {
        margin-top: 375px;
    }
}