/* 
* HERO PROJECT BANNER
*/

#hero-project-banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 650px;
    margin-top: -100px;
    display: flex;
    align-items: center;
}

#hero-project-banner .background-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#hero-project-banner .background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: #002311d9;
}

#hero-project-banner .image {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    z-index: 2;
    height: 100%;
    width: 100%;
    max-width: 650px;
    object-fit: cover;
    transform: translate(-50%, -50%);
    animation: heightFromBottom 1s forwards;
}

@keyframes heightFromBottom {
    from {
        margin-top: 100%;
    }
    to {
        margin-top: 0%;
    }
}
#hero-project-banner h3 {
    position: absolute;
    bottom: -1000px;
    z-index: 1;
    font-family: var(--respira);
    font-size: 620px;
    color: rgb(0, 0, 0);
    animation: fadeFromBottom 0.6s forwards;
    animation-delay: 0.6s;
    pointer-events: none;
    left: 50%;
    transform: translate(-50%, 0);
    white-space: nowrap;
    overflow: hidden;
}

@keyframes fadeFromBottom {
    from {
        bottom: -1000px;
    }
    to {
        bottom: -500px;
    }
}

/* 
* HERO PROJECT INFORMATION
*/

#hero-project-information {
    display: flex;
    justify-content: center;
}

#hero-project-information .container {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    gap: 35px;
}

#hero-project-information .container p {
    font-size: var(--text-medium);
    font-family: var(--desc);
}

#hero-project-information .container .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero-project-information .container .title h1 {
    font-size: 160px;
    font-family: var(--heading);
    white-space: nowrap;
}

#hero-project-information .container .title p {
    font-size: var(--text-medium);
    font-family: var(--desc);
    max-width: 650px;
}

#hero-project-information .container .title a {
    font-size: var(--text-medium);
    font-family: var(--desc);
    color: var(--dark_gray);
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--dark_gray);
    width: max-content;
}

#hero-project-information .container .title a i {
    position: relative;
    top: 6px;
    font-size: var(--text-medium);
    padding-left: 15px;
    transform: rotate(-45deg);
}

#hero-project-information .container .title .small-desc {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#hero-project-information .container img {
    width: 100%;
    height: 680px;
    object-fit: cover;
}

/* 
* HERO PROJECT OUTCOMES
*/

#hero-project-outcomes {
    display: flex;
    justify-content: center;
}

#hero-project-outcomes .container {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 60px;
    padding-bottom: 60px;
}

#hero-project-outcomes .container h2 {
    font-size: var(--heading-large);
    font-family: var(--heading);
    color: var(--dark_gray);
    white-space: nowrap;
}

#hero-project-outcomes .container .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

#hero-project-outcomes .container .buttons button {
    position: relative;
    width: 240px;
    height: 60px;
    border: 2px solid var(--dark_gray);
    color: var(--dark_gray);
    background-color: transparent;
    font-size: var(--text_medium);
    font-family: var(--heading);
    white-space: nowrap;
    min-width: 220px;
}

#hero-project-outcomes .container .buttons button.is-active  {
    background-color: var(--dark_gray);
    color: var(--white);
    border: none;
}

#hero-project-outcomes .container .buttons button:hover {
    cursor: pointer;
}

#hero-project-outcomes .container span {
    width: 100%;
    height: 2px;
    background-color: var(--dark_gray);
}

#hero-project-outcomes .container .outcomes-container {
    display: none;
}

#hero-project-outcomes .container .outcomes-container.is-active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero-project-outcomes .container .outcomes-container > .outcomes {
    display: flex;
    align-items: center;
    gap: 35px;
    width: 100%;
    margin-bottom: 35px;
    max-width: 1500px;
}

#hero-project-outcomes .container .outcomes-container .outcomes:last-child {
    margin-bottom: 0px;
}

#hero-project-outcomes .container .outcomes-container > .outcomes:nth-of-type(even) {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: end;
}

#hero-project-outcomes .container .outcomes .carousel {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#hero-project-outcomes .container .outcomes .carousel:not(:has(img)) {
    display: none !important;
}

#hero-project-outcomes .container .outcomes .carousel .buttons {
    position: absolute;
    z-index: 3;
    display: flex;
    gap: 5px;
    left: 25px;
    bottom: 25px;
    width: calc(100% - 50px);
}

#hero-project-outcomes .container .outcomes .carousel .buttons button {
    width: 50px;
    height: 50px;
    min-width: 0px;
    border: none;
    background-color: rgba(0, 0, 0, 0.373);
    color: var(--white);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-project-outcomes .container .outcomes .carousel .buttons button i {
    font-size: var(--text-medium);
}

#hero-project-outcomes .container .outcomes .carousel .buttons button:first-child i {
    transform: rotate(180deg);
}

#hero-project-outcomes .container .outcomes .carousel p {
    position: absolute;
    text-align: end;
    z-index: 2;
    bottom: 25px;
    right: 25px;
    width: calc(100% - 50px);
    color: var(--white);
    font-size: var(--text-medium);
}

#hero-project-outcomes .container .outcomes .carousel .full-screen {
    position: absolute;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: end;
    left: 25px;
    top: 25px;
    gap: 15px;
    width: calc(100% - 50px);
}

#hero-project-outcomes .container .outcomes .carousel .full-screen:hover {
    cursor: pointer;
}

#hero-project-outcomes .container .outcomes .carousel .full-screen i {
    color: var(--white);
    font-size: 32px;
}

#hero-project-outcomes .container .outcomes .carousel .full-screen p {
    position: initial;
}

#hero-project-outcomes .container .outcomes img {
    max-height: 408px;
    min-height: 408px;
    width: 100%;
    object-fit: contain;
    display: none;
    background-color: var(--dark_gray);
}

#hero-project-outcomes .container .outcomes img.is-active {
    display: block;
}

#hero-project-outcomes .container .outcomes .information  {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 140%;
}

#hero-project-outcomes .container .outcomes .information span {
    background-color: transparent !important;
    font-family: var(--heading);
    color: var(--dark_gray);
    font-weight: 600;
}

#hero-project-outcomes .container .outcomes .information h3 {
    font-size: var(--heading-large);
    font-family: var(--heading);
    color: var(--dark_gray);
}

#hero-project-outcomes .container .outcomes .information p {
    font-size: var(--text-medium);
    font-family: var(--desc);
}

#hero-project-outcomes .container .outcomes .information a {
    color: var(--dark_gray);
    text-decoration: none;
    border-bottom: 2px solid var(--dark_gray);
}

#hero-project-outcomes .container .outcomes .information a i {
    position: relative;
    top: 4px;
    font-size: var(--text-medium);
    padding-left: 10px;
    transform: rotate(-45deg);
}

#hero-project-outcomes .container .extra-information {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: -20px;
}

#hero-project-outcomes .container .extra-information a {
    text-decoration: none;
}

#hero-project-outcomes .container .extra-information button {
    position: relative;
    width: max-content;
    height: 60px;
    border: none;
    color: var(--dark_gray);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#hero-project-outcomes .container .extra-information button:hover {
    cursor: pointer;
}

#hero-project-outcomes .container .extra-information button p {
    font-size: var(--text-medium);
    font-family: var(--heading);
}

#hero-project-outcomes .container .extra-information button i {
    color: var(--dark_gray);
    font-size: var(--text-medium);
}

/* VIEW PROJECT */

#carousel-view {
    display: none;
}

#carousel-view.is-active {
    position: fixed;
    display: block;
    overflow: hidden;
    top: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.829);
    backdrop-filter: blur(4px);
}

#carousel-view img {
    display: none
}

#carousel-view img.is-active {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(100% - 10.4rem);
    width: calc(100% - 10.4rem);
    object-fit: contain;
}

#carousel-view .buttons {
    position: absolute;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100% - 5.2rem);
    left: 2.6rem;
    top: 2.6rem;
    width: calc(100% - 5.2rem);
}

#carousel-view .buttons button {
    width: 50px;
    height: 50px;
    min-width: 0px;
    border: none;
    background-color: rgba(0, 0, 0, 0.373);
    color: var(--white);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carousel-view .buttons button:hover {
    cursor: pointer;
}

#carousel-view .buttons button i {
    font-size: var(--text-medium);
}

#carousel-view .top {
    position: absolute;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 2.6rem;
    left: 2.6rem;
    width: calc(100% - 5.2rem);
}

#carousel-view .top p {
    color: var(--white);
    font-size: var(--text-medium);
    font-family: var(--heading);
}

#carousel-view .top .close {
    display: flex;
    align-items: center;
    gap: 15px;
}

#carousel-view .top .close:hover {
    cursor: pointer;
}

#carousel-view .top .close span {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--white);
    font-size: var(--text-medium);
    font-family: var(--heading);
}

#carousel-view .top .close i {
    font-size: 38px;
    color: var(--white);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1400px) {
    #hero-project-information .container .title h1 {
        font-size: 100px;
    }
}

@media only screen and (max-width: 1200px) {
    #hero-project-information .container .title p {
        max-width: 550px;
    }
}

@media only screen and (max-width: 1100px) {
    #hero-project-information .container .title h1 {
        font-size: 80px;
    }
    #hero-project-information .container .title p {
        max-width: 450px;
    }
}

@media (max-width: 920px) {
    #hero-project-banner {
        height: 400px;
    }
    #hero-project-banner .image {
        max-width: 400px;
        max-height: 400px;
    }
    #hero-project-banner h3 {
        bottom: -180px;
        font-size: 270px;
    }
    #hero-project-information .container .title {
        flex-direction: column;
        align-items: start;
        gap: 15px;
    }
    #hero-project-information .container .title h1 {
        font-size: 70px;
    }
    #hero-project-information .container p,
    #hero-project-information .container .title p,
    #hero-project-outcomes .container .outcomes .information p {
        max-width: 100%;
        font-size: var(--text-small);
    }
    #hero-project-information .container img {
        height: 380px;
    }
    #hero-project-outcomes .container .buttons {
        gap: 0px;
    }
    #hero-project-outcomes .container .buttons button {
        padding: 15px;
        max-width: max-content;
        min-width: 50px;
        max-height: 50px;
        top: 0;
        border: none;
    }
    #hero-project-outcomes .container .outcomes .information  {
        width: 100%;
    }
    #hero-project-outcomes .container .outcomes-container > .outcomes {
        flex-direction: column-reverse;
        align-items: start;
    }
    #hero-project-outcomes .container .outcomes img {
        max-width: 100%;
        height: 380px;
    }
    #hero-project-outcomes .container .outcomes .information h3,
    #hero-project-outcomes .container h2 {
        font-size: var(--heading-medium);
    }
    #hero-project-outcomes .container .outcomes-container {
        flex-direction: column;
        gap: 35px;
    }
    #hero-project-outcomes .container .outcomes-container > .outcomes:nth-of-type(even) {
        flex-direction: column-reverse;
        align-items: start;
    }
    #hero-project-outcomes .container .extra-information {
        gap: 15px;
        margin-top: 0px;
    }
    #hero-project-outcomes .container .extra-information button {
        padding: 15px;
        max-width: max-content;
        min-width: 50px;
        max-height: 50px;
        background-color: var(--dark_gray);
        border: none;
        padding: 0;
    }
    #hero-project-outcomes .container .extra-information button p {
        display: none;
    }
    #hero-project-outcomes .container .extra-information button i {
        font-size: 20px;
        color: var(--white);
    }
    .extra-title {
        display: none;
    }
    #hero-project-banner h3 {
        bottom: -400px;
    }

    #hero-project-outcomes .container .outcomes .carousel .buttons {
        display: none;
    }
    #hero-project-outcomes .container .outcomes .carousel p {
        bottom: 15px;
        right: 15px;
        width: calc(100% - 30px);
        font-size: var(--text-small);
    }
    #hero-project-outcomes .container .outcomes .carousel .full-screen {
        left: 15px;
        top: 15px;
        width: calc(100% - 30px);
    } 
    #hero-project-outcomes .container .outcomes .carousel .full-screen i {
        font-size: 28px;
    }
    #hero-project-outcomes .container .outcomes .carousel .full-screen p {
        display: none;
    }
    @keyframes fadeFromBottom {
        from {
            bottom: -400px;
        }
        to {
            bottom: -200px;
        }
    }
}

@media only screen and (max-width: 750px) {
    #hero-project-information .container .title h1 {
        font-size: var(--heading-super);
    }
}

@media (max-width: 650px) {
    #hero-project-banner {
        height: 360px;
    }
    #hero-project-banner .image {
        top: 60%;
        max-width: 300px;
        max-height: 300px;
    }
    #hero-project-information .container .title h1 {
        font-size: var(--heading-big);
    }
    #hero-project-information .container p,
    #hero-project-information .container .title p,
    #hero-project-outcomes .container .outcomes .information p {
        font-size: var(--text-tiny);
    }
    #hero-project-information .container img {
        height: 240px;
    }
    #hero-project-outcomes .container .outcomes img {
        height: 240px;
    }
    #hero-project-banner h3 {
        bottom: -360px;
    }
    
    @keyframes fadeFromBottom {
        from {
            bottom: -360px;
        }
        to {
            bottom: -220px;
        }
    }
}