/* 
* HEADER
*/

header {
    position: relative;
    width: 100%;
    height: 100px;
    z-index: 10;
    background-color: var(--projectOne);
    display: flex;
    justify-content: center;
    transition: background-color 0.4s ease-in-out;
}

header .container {
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container nav {
    width: 100%;
    height: max-content;
    animation: fadeFromTop 1s forwards;
    animation-delay: 0.2s;
    transform: translateY(-400%);
}

@keyframes fadeFromTop {
    0% {
        transform: translateY(-400%);
    }
    100% {
        transform: translateY(0);
    }
}

header .container nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: heading;
}

header .container nav ul a {
    text-decoration: none;
    font-family: heading;
    font-size: var(--heading-medium);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

header .container nav ul a span {
    width: 42px;
    height: 2px;
    background-color: black;
}

/* Project 1 */
body.project-1 header {
    background-color: var(--projectOne);
}
body.project-1 header .container nav ul a {
    color: var(--projectOne_accent);
}

/* Project 2 */
body.project-2 header {
    background-color: var(--projectTwo);
}
body.project-2 header .container nav ul a {
    color: var(--projectTwo_accent);
}

/* Project 3 */
body.project-3 header {
    background-color: var(--projectThree);
}
body.project-3 header .container nav ul a {
    color: var(--projectThree_accent);
}

/* Menu */
#menu {
    position: absolute;
    z-index: 11;
    width: 100vw;
    height: 100vh;
    margin-top: -100px;
    background-color: var(--white);
    visibility: hidden;
    transform: translateY(-100%);
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1), visibility 0s 0.6s;
}

#menu.is-active {
    transform: translateY(0);
    visibility: visible;
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1), visibility 0s;
}

#menu header {
    background-color: transparent;
}

#menu.is-active header .contact {
    display: none;
}

#menu header .container nav ul a {
    color: var(--dark_gray);
}

#menu .navigation-items {
    margin-top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

#menu .navigation-items ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

#menu .navigation-items ul li {
    width: max-content;
}

#menu .navigation-items ul li a {
    color: var(--dark_gray);
    font-family: var(--respira);
    font-size: 160px;
    text-decoration: none;
    line-height: 1.1;
}

#menu .navigation-items ul li a .line {
    transition: color 0.4s ease-in-out, font-size 0.4s ease-in-out;
}

#menu .navigation-items ul li a .line:hover {
    color: var(--heading);
    font-family: var(--heading);
}

#menu .extra {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu .extra .container {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu .extra .container p {
    font-size: var(--text-tiny);
    font-family: var(--heading);
    color: var(--dark_gray);
}

#menu .extra .container .socials {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--dark_gray);
    font-size: var(--text-large_xl);
}

#menu .extra .container .socials i:hover {
    cursor: pointer;
}

/* MEDIA QUERIES */

@media (max-width: 920px) {
    header .contact {
        display: none;
    }
    body.project-1 header,
    body.project-2 header,
    body.project-3 header,
    header {
        background-color: transparent;
        animation: none;
    }
    #menu .navigation-items ul li a {
        font-size: 100px;
    }
    #menu .navigation-items ul li a .line:hover {
        font-family: inherit;
    }
}

@media only screen and (max-width: 750px) {
}
@media only screen and (max-width: 650px) {
    #menu .navigation-items ul li a {
        font-size: 70px;
    }
}
@media only screen and (max-width: 450px) {
    #menu .navigation-items ul li a {
        font-size: 50px;
    }
}