/* 
* HEADER
*/

header {
    position: relative;
    width: 100%;
    height: 100px;
    z-index: 7;
    background-color: var(--projectOne);
    display: flex;
    justify-content: center;
    transition: background-color 0.4s ease-in-out;
}

header .container {
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container nav {
    width: 100%;
    height: max-content;
    animation: fadeFromTop 1s forwards;
    animation-delay: 0.2s;
    transform: translateY(-400%);
}

@keyframes fadeFromTop {
    0% {
        transform: translateY(-400%);
    }
    100% {
        transform: translateY(0);
    }
}

header .container nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family: heading;
}

header .container nav ul a {
    text-decoration: none;
    font-family: heading;
    font-size: var(--heading-medium);
}

/* Project 1 */
body.project-1 header {
    background-color: var(--projectOne);
}
body.project-1 header .container nav ul a {
    color: var(--projectOne_accent);
}

/* Project 2 */
body.project-2 header {
    background-color: var(--projectTwo);
}
body.project-2 header .container nav ul a {
    color: var(--projectTwo_accent);
}

/* Project 3 */
body.project-3 header {
    background-color: var(--projectThree);
}
body.project-3 header .container nav ul a {
    color: var(--projectThree_accent);
}

/* MEDIA QUERIES */

@media (max-width: 920px) {
    header .container nav ul a:last-child {
        display: none;
    }
    body.project-1 header,
    body.project-2 header,
    body.project-3 header,
    header {
        background-color: transparent;
        animation: none;
    }
}